<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="app_error" class="ch.qos.logback.core.FileAppender">
        <file>log/app_error.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="scan_file" class="ch.qos.logback.core.FileAppender">
        <file>log/scan_files.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="copy_file" class="ch.qos.logback.core.FileAppender">
        <file>log/copy_file.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="team.firestorm.Application" level="error" additivity="false">
        <appender-ref ref="app_error"/>
    </logger>

    <logger name="team.firestorm.service.ConcurrentScanFileService" level="info" additivity="false">
        <appender-ref ref="scan_file"/>
    </logger>

    <logger name="team.firestorm.service.SingleScanFileService" level="info" additivity="false">
        <appender-ref ref="scan_file"/>
    </logger>

    <logger name="team.firestorm.service.TransactionScanService" level="info" additivity="false">
        <appender-ref ref="scan_file"/>
    </logger>

    <logger name="team.firestorm.service.CopyFileService" level="info" additivity="false">
        <appender-ref ref="copy_file"/>
    </logger>

    <root level="error">
        <appender-ref ref="console"/>
        <appender-ref ref="app_error"/>
    </root>

</configuration>
